main {
  height: 100vh;  // 👈 ocupa toda la altura de la pantalla
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; // 👈 centra vertical y horizontal

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 9.5rem;
    }

    h1 {
      color: white;
      font-size: 1.1rem;
      margin-top: -3.5rem;
      font-weight: 600;
      text-align: center;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    align-items: center; // asegura que los botones estén centrados
  }

  .terms {
    margin-top: 1.5rem;
    text-align: center; // centra el texto de Terms
  }
}